<html>
<head>
	<style>
		table, th, td { 
			padding: 10px;
			border: 1px solid black;
			border-collapse: collapse;
			padding: 6px;
			margin: 0px;
		}
		b {
			font-weight: bold;
		}
		.center {
			text-align: center;
		}
		.header {
			font-size: 22px;
		}
	</style>
</head>
<body>
	<!-- <input type="button" onclick='test()' value="asd"> -->
	<table id="element-to-print">
		<tbody>
			<tr>
				<td class="center">ДФ.04.31.2017</td>
				<td colspan="7" class="center">
					<div>Бюджетное учреждение Удмуртской Республики "Удмуртский ветеринарно-диагностический центр"</div>
					<div>СИСТЕМА МЕНЕДЖМЕНТА КАЧЕСТВА ИЦ</div>
					<div>Документированная форма</div>
					<div><b>Регистрационная карточка оборудования</b></div>
				</td>
				<td class="center">лицевая сторона регистрационной карточки</td>
			</tr>
			<tr>
				<td colspan="8" class="center"><b class="header">Регистрационная карточка оборудования ВИД</b></td>
				<td>кабинет 130</td>
			</tr>
			<tr>
				<td class="center" rowspan="2"><b>Регистрационный №</b></td>
				<td class="center" rowspan="2"><b>Наименование определяемых (измеряемых) характеристик (параметров), функциональное назначение</b></td>
				<td class="center" rowspan="2"><b>Наименование оборудования,  тип (марка)</b></td>
				<td class="center" rowspan="2"><b>Зав.№</b></td>
				<td class="center" rowspan="2"><b>Изготовитель (страна, город,  наименование организации)</b></td>
				<td class="center" rowspan="2"><b>Год выпуска/ ввода в эксплуатацию</b></td>
				<td class="center" rowspan="2"><b>Инвентарный №</b></td>
				<td class="center" colspan="2"><b>Метрологические характеристики</b></td>
			</tr>
			<tr>
				<td><b>Диапазон измерений</b></td>
				<td><b>Погрешность измерений</b></td>
			</tr>
			<tr>
				<td>Отдел</td>
				<td colspan="8">отдел</td>
			</tr>
			<!-- ДАННЫЕ -->
			<tr>
				<td class="center">1</td>
				<td class="center">1</td>
				<td class="center">1</td>
				<td class="center">1</td>
				<td class="center">1</td>
				<td class="center">1</td>
				<td class="center">1</td>
				<td class="center">1</td>
				<td class="center">1</td>
			</tr>
			<tr>
				<td colspan="9">
					Эксплуатационный документ: рп, св-во <br>
					Состояние на момент приёмки: соотв <br>
					<b>Данные о поверках:</b> периодичность 1 раз в год
				</td>
			</tr>
			<tr>
				<td colspan="3">Свид-во № СП 28828282 от 20.02.2020</td>
				<td colspan="3">Свид-во № СП 28828282 от 20.02.2020</td>
				<td colspan="3">Свид-во № СП 28828282 от 20.02.2020</td>
			</tr>
			<tr>
				<td colspan="1"><b>Вид ТО</b></td>
				<td class="center" colspan="1">Сроки выполнения</td>
				<td class="center" colspan="6">Проводимые работы</td>
				<td class="center" colspan="1">Ответственный</td>
			</tr>
			<tr>
				<td class="center">Периодическое</td>
				<td class="center">По мере</td>
				<td class="center" colspan="6">Замена батареи</td>
				<td class="center">Экспл. персонал</td>
			</tr>
			<tr>
				<td colspan="9"><b>Данные о ремонте и ТО:</b></td>
			</tr>
			<tr>
				<td class="center" colspan="1">Номер п/п</td>
				<td class="center" colspan="1">Дата</td>
				<td class="center" colspan="3">Характер неисправности и вид производимой работы</td>
				<td colspan="4" class="center">Наименование организации, Ф.И.О.,<br>должность выполнившего работу<br>(подпись внесшего запись с расшифровкой Ф.И.О.)</td>
			</tr>
		</tbody>
	</table>
</body>
<script src="D:/OpenServer/OSPanel/domains/nolims/frontend/web/assets/vendor/html2pdf.bundle.min.js"></script>
<script>
		function test(){
		var element = document.getElementById('element-to-print');
		var opt = {
		  // margin:       0,
		  filename:     'myfile.pdf',
		  // image:        { type: 'jpeg', quality: 0.98 },
		  pagebreak: {mode: ['avoid-all']},
		  html2canvas:  { scale: 2 },
		  jsPDF:        { unit: 'in', format: 'a4', orientation: 'landscape' }
		};
		html2pdf().set(opt).from(element).toPdf().save();
		// html2pdf(element);
		}
</script>
</html>