<html lang="en">
<head>
	<meta charset="UTF-8">
	<style>
		table, th, td { 
			padding: 10px;
			border: 1px solid black;
			border-collapse: collapse;
			padding: 6px;
			margin: 0px;
		}
		b {
			font-weight: bold;
		}
		.center {
			text-align: center;
		}
		.header {
			font-size: 22px;
		}
	</style>
</head>
<body>
	<table>
		<tbody>
			<tr">
				<td style="width: 60px;">ДФ.04.31.2017</td>
				<td style="width: 60px;" colspan="7" class="center">
					<div>Бюджетное учреждение Удмуртской Республики "Удмуртский ветеринарно-диагностический центр"</div>
					<div>СИСТЕМА МЕНЕДЖМЕНТА КАЧЕСТВА ИЦ</div>
					<div>Документированная форма</div>
					<div><b>Регистрационная карточка оборудования</b></div>
				</td>
				<td style="width: 60px;">лицевая сторона регистрационной карточки</td>
			</tr>
			<tr>
				<td style="width: 60px;" colspan="8" class="center"><b class="header">Регистрационная карточка оборудования ВИД</b></td>
				<td style="width: 60px;">кабинет 130</td>
			</tr>
			<tr>
				<td style="width: 60px;" rowspan="2">Регистрационный номер</td>
				<td style="width: 60px;" rowspan="2">Наименование определяемых (измеряемых) характеристик (параметров), функциональное назначение</td>
				<td style="width: 60px;" rowspan="2">Наименование оборудования,  тип (марка)</td>
				<td style="width: 60px;" rowspan="2">Зав.№</td>
				<td style="width: 60px;" rowspan="2">Изготовитель (страна, город,  наименование организации)</td>
				<td style="width: 60px;" rowspan="2">Год выпуска/ ввода в эксплуатацию</td>
				<td style="width: 60px;" rowspan="2">Инвентарный №</td>
				<td style="width: 60px;" colspan="2">Метрологические характеристики</td>
			</tr>
			<tr>
				<td style="width: 60px;">Диапазон измерений</td>
				<td style="width: 60px;">Погрешность измерений</td>
			</tr>
			<tr>
				<td style="width: 60px;">Отдел</td>
				<td colspan="8">отдел</td>
			</tr>
			<!-- ДАННЫЕ -->
			<tr>
				<td style="width: 60px;">1</td>
				<td style="width: 60px;">1</td>
				<td style="width: 60px;">1</td>
				<td style="width: 60px;">1</td>
				<td style="width: 60px;">1</td>
				<td style="width: 60px;">1</td>
				<td style="width: 60px;">1</td>
				<td style="width: 60px;">1</td>
				<td style="width: 60px;">1</td>
			</tr>
			<tr>
				<td colspan="9">
					Эксплуатационный документ: рп, св-во <br>
					Состояние на момент приёмки: соотв <br>
					<b>Данные о поверках:</b> периодичность 1 раз в год
				</td>
			</tr>
			<tr>
				<td colspan="3">Свид-во № СП 28828282 от 20.02.2020</td>
				<td colspan="3">Свид-во № СП 28828282 от 20.02.2020</td>
				<td colspan="3">Свид-во № СП 28828282 от 20.02.2020</td>
			</tr>
			<tr>
				<td colspan="1"><b>Вид ТО</b></td>
				<td colspan="1">Сроки выполнения</td>
				<td colspan="6">Проводимые работы</td>
				<td colspan="1">Ответственный</td>
			</tr>
			<tr>
				<td>Периодическое</td>
				<td>По мере</td>
				<td colspan="6">Замена батареи</td>
				<td>Экспл. персонал</td>
			</tr>
			<tr>
				<td colspan="9"><b>Данные о ремонте и ТО:</b></td>
			</tr>
			<tr>
				<td colspan="1">Номер п/п</td>
				<td colspan="1">Дата</td>
				<td colspan="3">Характер неисправности и вид производимой работы</td>
				<td colspan="4" class="center">Наименование организации, Ф.И.О.,<br>должность выполнившего работу<br>(подпись внесшего запись с расшифровкой Ф.И.О.)</td>
			</tr>
		</tbody>
	</table>
</body>
</html>