.style_Tab td, th {
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.style_Tab th:hover, td:hover {
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    height: auto;
  }

.semi-form-field-label {
  -webkit-user-select: auto;
  user-select: auto;
}
